/* body{
    margin: 50px 0;
    margin-top: 10%;
    padding: 0 auto;
    text-align: center;
} */

/* body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
   */
   * {
    box-sizing: border-box;
  }
  /*
  .bg-img {
    The image used
    background-image: url("");
  
    min-height: 380px;
  
    Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  */
  
  /* Add styles to the form container */

  .container {

    position: absolute;
    right: 35%;
    /* left: 50%; */
    margin: 20px;
    max-width: 300px;
    padding: 18px;
    background-color:#ebf0fa;
    /* background-color: #b3b3ff; */
    border-radius: 10%;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus,input[type=number] {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color:#5c85d6;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  img{
    border-radius: 10%;
    height: 30px;
    width: auto;
  }