
    <nav class="navbar nav-expand-lg nav-light" style="background-color:#3366cc;">
        <ul style="color:white" routerLink=""> <img src="https://i.pinimg.com/originals/e6/8e/f9/e68ef99d235226806e906cc6fbc685fe.jpg"></ul>
        <ul class="nav-bar nav" id="left" >
            <li class="nav-item"><a class="nav-link"  routerLink="/moveToCategory" style="color:white">Browse Policies</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/moveToLoginPage" style="color:white">Admin Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/moveToLoginPage" style="color:white">User Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/moveToAddUser"  style="color:white">Create Account</a></li>
        </ul>
    </nav>  


    

<body class="bg" background="assets/Images/homeHealth.jpeg">  
    <!-- <img class="img1" src="https://i.pinimg.com/originals/e6/8e/f9/e68ef99d235226806e906cc6fbc685fe.jpg"> 
    <img class="img2" src="https://i.pinimg.com/originals/e6/8e/f9/e68ef99d235226806e906cc6fbc685fe.jpg">     -->
    <div class="home-page">
    
       
           <br><br><br><br>  
           <!-- <div class="form"> -->
            
            <!-- <button type="button" class="btn btn-secondary" (click)="moveToHealthInsurancePolicies()">Health Insurance Policies</button> -->
           <!-- <br><br> -->
            <!-- <button type="button" class="btn btn-secondary" (click)="moveToHomeInsurancePolicies()">Home Insurance Policies</button> -->
          
            <!-- </div> -->
    </div> 
    </body>  
    
    
    